<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <style>
        #dataTable_filter{
            float:right
        }
    </style>
</head>

<body>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Topbar -->
        <%- include('./partials/navbar') %>
        <!-- End of Topbar -->

        <!-- Content Wrapper -->
        <div class="container">
            <div class="main">
                <div class="main-content">
                    <div class="row">

                        <!-- Sidebar -->
                        <div class="col-md-3">
                            <div class="card">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><%= title %></h3>
                                        <div class="right">
                                            <button type="button" class="btn-toggle-collapse">
                                                <i class="lnr lnr-chevron-up"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <nav>
                                            <ul class="nav">
                                                <li class="nav-item">
                                                    <a href="#" class="">Link #1</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="">Link #2</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Sidebar -->

                        <!-- Content -->
                        <div class="col-md-9">
                            <% if (message.length > 0) { %>
                            <div class="alert alert-info text-center"><%= message %></div>
                            <% } %>

                            <div class="card">
                                <div class="panel">

                                    <div class="panel-heading">
                                        <h2 class="text-center">Sample Table</h2>
                                    </div>

                                    <div class="panel-body">
                                        <div class="table-responsive" style="overflow-x:hidden">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Phone Number</th>
                                                        <th>Email Address</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Phone Number</th>
                                                        <th>Email Address</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <%
                                                    var list = '';
                                                    for (i = 0; i < data.length; i++) {
                                                   
                                                    list += '<tr>';
                                                        list += '<td>' + data[i].firstName + '</td>';
                                                        list += '<td>' + data[i].lastName + '</td>';
                                                        list += '<td>' + data[i].phoneNumber + '</td>';
                                                        list += '<td>' + data[i].emailAddress + '</td>';
                                                    list += '</tr>';
                                                    }
                                                    %>
                                                <%- list %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Content -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- footer -->
        <%- include('./partials/footer') %>
        <!-- end footer -->

        <!-- scripts -->
        <%- include('./partials/scripts') %>

        <script src="assets/js/datatables/jquery.dataTables.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"></script>
        <script src="assets/js/datatables/datatables-search.js"></script>
        <!-- end scripts -->
</body>

</html>